 *{
 	margin:0;
 	padding:0;
 }
 header{
 	width:100%;
 	height:100vh;
}
.navsection{
	width:100%;
	height:15vh;
	
	font-family: 'Questrial', sans-serif;
	display:flex; justify-content:space-around;
    align-items:center; 
}
.logo{
	left:90px;
	position:relative;
	font-family: 'Questrial', sans-serif; ;
	color:#000;
	border: 2px solid transparent;
	border-radius:20px;
	background-image:linear-gradient(#535252,#FFFFFF), radial-gradient(circle at top left, #0000,#EFEDED);
	background-origin:border-box;
	background-clip:content-box,border-box; 
	text-align:center;
}
.logo h3{
	text-transform: uppercase;
	padding:12px 17px;
	animation:baf 2s linear infinite ;
    animation-direction:alternate;
}
 @keyframes baf {
 	from{ padding-left:40px; }
 	to{padding-right:40px;}

 }
 nav{
 	width:50%;
 	top:20%;
 	display:flex;
 	justify-content:space-around;
 }
 nav a{
 	text-transform:uppercase;
 	font-family: 'Questrial', sans-serif;
 	color :#404040;
 	font-weight:900;
 	font-size:17px;
 	position:relative;
 	text-decoration: none;
 }
nav a:before{
	content:"";
	position: absolute;
	top: 110%;
	left: 0;
	width:0;
	height: 2px;
	border-bottom: 2px solid #8c8c8c;
	transition: all 0.4s linear;

}
nav a:hover:before{
	width: 100%;
}
main{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.Dp{
  display: block;
  height:85%;
  margin: auto;
  width:20%;
  text-align: center;

}
.center {
  display: block;
  margin-left:200px;
  width: 50%;
  text-align: center;
}

.dp_data{
	height:70%;
    position:relative;
    right: 550px;
    text-align: center;


 }
.dp_data h2{
	font-size:40px; 
   font-family: 'Questrial', sans-serif;
   position: relative;
   margin-top:50%;
   text-align: center;


}
.dp_data h6{
font-size:20px;
font-weight: 800;
text-transform:uppercase;
font-family: 'Questrial', sans-serif;
line-height:25px;
color:#353232;
text-align: center;
}
.btn1{
	position:relative;
	text-decoration: none;
    font-family: 'Questrial', sans-serif;
	color:#000;
	border: 2px solid transparent;
	border-radius:20px;
	background-image:linear-gradient(#535252,#FFFFFF), radial-gradient(circle at top left, #0000,#EFEDED);
	background-origin:border-box;
	background-clip:content-box,border-box; 
	text-align:center;
	display: inline-block;

}
 .btn1 h6{
 	display: block;
 	font-size: 12px;
	padding:4px 20px;
}
 .btn2{
	position:relative;
	text-decoration: none;
	font-family: 'Questrial', sans-serif;;
	color:#000;
 border: 2px solid transparent;
	border-radius:20px;
	background-image:linear-gradient(#535252,#FFFFFF), radial-gradient(circle at top left, #0000,#EFEDED);
	background-origin:border-box;
	background-clip:content-box,border-box; 
	text-align:center;
	display: inline-block;
	
}
 .btn2 h6{
	display:block;
	font-size: 12px;
	padding: 6px 20px;
}
.media{
	position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-53%,-50%);
}

li{
	list-style: none;
	margin: 50px 20px;
	display: inline-block;
	font-size: 20px;
	padding-top: 20px;
}
.fb_btn{
    height:50px;
    width:50px;
    border: 2px solid transparent;
	border-radius:50%;
	background-image:linear-gradient(#535252,#FFFFFF), radial-gradient(circle at top left, #0000,#EFEDED);
	background-origin:border-box;
	background-clip:content-box,border-box; 
    text-align:center;
}
.fb_btn .fa{
	padding:18px 0;
	font-size: 18px;
	cursor:pointer; 
}
.lkd_btn{
    height:50px;
    width:50px;
    border: 2px solid transparent;
	border-radius:50%;
	background-image:linear-gradient(#535252,#FFFFFF), radial-gradient(circle at top left, #0000,#EFEDED);
	background-origin:border-box;
	background-clip:content-box,border-box; 
    text-align:center;
}
.lkd_btn .fa{
	padding:18px 0;
	font-size: 18px;
	cursor:pointer;
}
.ig_btn{
    height:50px;
    width:50px;
    border: 2px solid transparent;
	border-radius:50%;
	background-image:linear-gradient(#535252,#FFFFFF), radial-gradient(circle at top left, #0000,#EFEDED);
	background-origin:border-box;
	background-clip:content-box,border-box; 
    text-align:center;
}
.ig_btn .fa{
	padding:18px 0;
	font-size:18px;
	cursor:pointer;
}
.twt_btn{
    height:50px;
    width:50px;
    border: 2px solid transparent;
	border-radius:50%;
	background-image:linear-gradient(#535252,#FFFFFF), radial-gradient(circle at top left, #0000,#EFEDED);
	background-origin:border-box;
	background-clip:content-box,border-box; 
    text-align:center;
}
.twt_btn .fa{
	padding:18px 0;
	font-size: 18px;
	cursor:pointer;
}
.centers{
    width: 60%;
    height: 5%;
    background:#ffff;
    display: block;
	font-family:  'Questrial', sans-serif;
    padding:10px;
    box-sizing: content-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    margin :5px auto;
    margin-bottom: 40px;

}
/*
h1{
	margin:   
}*/
.skillbox {
	box-sizing: border-box;
	width: 100%;
	margin:20px 0;
	align-items: center;
	font-weight: bold;
}
.skillbox p{
	color:#0d0d0d;
	text-transform:uppercase;
	margin: 0 0 10px;
	padding:0;
	letter-spacing: 1px;

}
.skillbox p:nth-child(2){
	float: right;
	position: relative;
	top:-25px;
}

.skill{
	
	box-sizing:border-box;
	border: 1px solid #262626;
	border-radius: 5px;
}
.skill_level{
	background:#737373;
	width:100%;
	height: 5px;
	
}


.heading{
	font-family:  'Questrial', sans-serif; 
	margin-top: 15px;
	margin-left: 15px;
	padding:30px 0; 
	position: relative;
	text-align: center;
	font-size:15px;
	letter-spacing: 2px;
	color: #262626;
	
	
}



.main_footer{
	background: #fff;
	height: 275px;
	width: 60%;
	position: relative;
	top:80%;
	left: 20%;
	right: 20%;
	margin:20px 20px;
	margin-bottom: 40px;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
.first_section{
	width: 50%;
	font-size: 25px;
	float: left;
	background: white;
	font-family: 'Questrial', sans-serif; 
	margin-top: 25px;
	margin-left: 15px;
	font-weight: bold;

    color:#0d0d0d;
}

.first_section p{
	font-color:#0d0d0d;
	font-size: 15px;
	padding-top: 15px;
	font-weight: normal;
	letter-spacing: 1px;
}

.second_section{
	width: 45%;
	font-family: 'Questrial', sans-serif; 
	margin-top: 25px;
	margin-left: 15px;
	
    letter-spacing: 1px;
    color:#0d0d0d;
	
	background: white; 
	float: left;
}
.second_section h4{
   font-size: 25px;
   font-weight: bold;

}

.main_footer{
	background: #fff;
	height: 275px;
	width: 60%;
	position: relative;
	top:80%;
	left: 20%;
	right: 20%;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
.first_section{
	width: 50%;
	font-size: 25px;
	float: left;
	background: white;
	font-family: 'Questrial', sans-serif; 
	margin-top: 25px;
	margin-left: 15px;
	font-weight: bold;

    color:#0d0d0d;
}
.first_section p{
	font-color:#0d0d0d;
	font-size: 15px;
	padding-top: 15px;
	font-weight: normal;
	letter-spacing: 1px;
}

.second_section{
	width: 45%;
	font-family: 'Questrial', sans-serif; 
	margin-top: 25px;
	margin-left: 15px;
	
    letter-spacing: 1px;
    color:#0d0d0d;
	
	background: white; 
	float: left;
}
.second_section h4{
   font-size: 25px;
   font-weight: bold;

}







.headingedu{
	font-family: 'Questrial', sans-serif; 
	margin-top: 25px;
	margin-left: 15px;
	padding:30px 0; 
	position: relative;
	text-align: center;
	font-size:15px;
	letter-spacing: 1px;
	color: #262626;
	font-weight:normal;
}





.education_footer{
	background: #fff;
	height: 263px;
	width: 62%;
	position: relative;
	top:80%;
	left: 19%;
	right: 20%;
	margin-bottom: 40px;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
.firstedu_section{
	width: 30%;
	font-size: 30px;
	float: left;
	background: #4d4d4d;
	font-family: 'Questrial', sans-serif; 
	font-weight: bold;
    color:#ffff;
    height: 100%;

}

.firstedu_section p{
	font-color:#ffff;
	font-size: 18px;

	margin-top: 30%;
	margin-bottom: 30%;
	padding-left: 30%;
    font-family: 'Questrial', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	font-weight: bold;
	transition: 1s;
}

.secondedu_section{
	width: 45%;
	font-family: 'Questrial', sans-serif; 
	letter-spacing: 1px;
    color:#0d0d0d;
	background: white; 
	float: left;
	font-weight: bold;
	margin-left: 80px;

}
.secondedu_section p{
   font-size: 15px;
   font-weight: bold;
   padding-top: 74px;

}

.contact_section{
	background-image: url("pic20.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover; 
    padding: 20px 0;
	position: relative;
	font-family: 'Questrial', sans-serif; 

	

	

}
.contact_section h1{
	text-align: center;
	color: #262626;
	margin-top: 30px;

}

/*
.border{
	width: 100px;
	height: 10px;
	background: #34495e;
	margin:40px auto;
}*/

.contact-form{
	max-width: 600px;
	margin:auto;
	padding: 0 10px;
	overflow: hidden;
}
.contact-form-text{
	display: block;
	width: 100%;
	margin:16px 0;
	border:0;
	background: #333333;
	box-sizing: border-box;
	padding: 15px 30px;
	outline: none;
	color: #ddd;
	transition: 1s;
	font-family: 'Questrial', sans-serif; 
}
.contact-form-text-focus{
	box-shadow: 0 0 10px 4px #b3b3b3;

}
textarea.contact-form-text{
	resize: none;
	height: 100px;
}
.contact-form-btn{
	float: right;
	border: 0;
	background: #b3b3b3;
	padding: 12px 50px;
	cursor: pointer;
	transition: 1s;
}
.contact-form-btn:hover {
	background: #333333;
}





/*

.bar{
	background:#999999;
	display: block;
	height: 3px;
	border: 1px solid rgba(0,0,0,3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow:0 0 10px #737373;
}
.bar span{
	height:3px;
	float: left;
	background:#0d0d0d;
}
.html{
	width:65%;
	animation:html 2s;
}
/*
.css{
	width: 61%;
	animation:css 2s;
}

.cmntn{
	width:70%;
	animation:cmntn 2s;
}

.ldrshp{
	width: 65%;
	animation:ldrshp 2s;
}
.js{
	width: 50%;
	animation:js 2s;
}
@keyframes html{
	0%{
		width: 0%;
	}
	100%{
		width:65%;
	}
}
@keyframes css{
	0%{
		width: 0%;
	}
	100%{
		width:61%;
	}
}
@keyframes cmntn{
	0%{
		width: 0%;
	}
	100%{
		width:70%;
	}
}
@keyframes ldrshp{
	0%{
		width: 0%;
	}
	100%{
		width:65%;
	}
}
@keyframes js{
	0%{
		width: 0%;
	}
	100%{
		width:50%;
	}
}
